<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.1.0" targetFramework="net451" />
  <package id="Common.Logging.Core" version="3.1.0" targetFramework="net451" />
  <package id="EmitMapper" version="1.0.0" targetFramework="net451" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net451" />
  <package id="EnterpriseLibrary.ExceptionHandling" version="6.0.1304.0" targetFramework="net451" />
  <package id="Trintech.Cadency.Utility" version="1.2.1" targetFramework="net451" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net451" />
</packages>