<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EmitMapper" version="1.0.0" targetFramework="net451" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net451" />
  <package id="EnterpriseLibrary.ExceptionHandling" version="6.0.1304.0" targetFramework="net451" />
  <package id="log4net" version="2.0.3" targetFramework="net451" />
  <package id="ServiceStack.Common" version="4.0.40" targetFramework="net451" />
  <package id="ServiceStack.Interfaces" version="4.0.40" targetFramework="net451" />
  <package id="ServiceStack.OrmLite" version="4.0.40" targetFramework="net451" />
  <package id="ServiceStack.OrmLite.SqlServer" version="4.0.40" targetFramework="net451" />
  <package id="ServiceStack.Text" version="4.0.40" targetFramework="net451" />
  <package id="Trintech.Cadency.DataAccess" version="1.1.21" targetFramework="net451" />
  <package id="Trintech.Cadency.Utility" version="1.1.8" targetFramework="net451" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net451" />
</packages>